In [209]:
import pandas as pd

# 특정 CSV 파일 경로 지정
station = pd.read_csv('dataset/use/metro_station_location_2_3.csv')
boarding_2023 = pd.read_csv('dataset/use/boarding_2023_line2_3_refined.csv')
boarding_2024 = pd.read_csv('dataset/use/boarding_2024_line2_3_refined.csv')    
congest_2023 = pd.read_csv('dataset/use/congestion_2023_long_line2_3.csv')
congest_2024 = pd.read_csv('dataset/use/congestion_2024_long_line2_3.csv')

In [156]:
station.head()

   호선  역번호         역명         위도          경도  순서  환승역
0   2  202      을지로입구  37.565998  126.982569   1    0
1   2  203      을지로3가  37.566292  126.991773   2    1
2   2  204      을지로4가  37.566611  126.998122   3    1
3   2  205  동대문역사문화공원  37.565597  127.009113   4    2
4   2  206         신당  37.565681  127.019488   5    1

In [157]:
boarding_2023.head()

           날짜  호선  역번호  역명  시간대   승차   하차
0  2023-01-01   2  201  시청  600   43  126
1  2023-01-01   2  201  시청  530   43   36
2  2023-01-01   2  201  시청  700   43  144
3  2023-01-01   2  201  시청  800  138  245
4  2023-01-01   2  201  시청  900  140  283

In [158]:
boarding_2024.head()

           날짜  호선  역번호  역명  시간대   승차   하차
0  2024-01-01   2  201  시청  530   74   30
1  2024-01-01   2  201  시청  600  105  119
2  2024-01-01   2  201  시청  700  103  183
3  2024-01-01   2  201  시청  800  137  268
4  2024-01-01   2  201  시청  900  205  318

In [159]:
congest_2023 = congest_2023.drop(columns=['연번'])
congest_2024 = congest_2024.drop(columns=['연번'])

In [160]:
congest_2023.head()

  요일구분  호선   역번호  출발역  상하구분  시간대   혼잡도
0   평일   2  9001  성수E  오름차순  530   0.0
1   평일   2  9001  성수E  내림차순  530   7.9
2   평일   2   210   뚝섬  오름차순  530  16.8
3   평일   2   210   뚝섬  내림차순  530   8.5
4   평일   2   209  한양대  오름차순  530  17.5

In [161]:
congest_2024.head()

  요일구분  호선  역번호        출발역  상하구분  시간대   혼잡도
0   평일   2  201         시청  오름차순  530  22.8
1   평일   2  202      을지로입구  오름차순  530  15.2
2   평일   2  203      을지로3가  오름차순  530  15.3
3   평일   2  204      을지로4가  오름차순  530  15.1
4   평일   2  205  동대문역사문화공원  오름차순  530  22.2

In [168]:
congest_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20592 entries, 0 to 20591
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   요일구분    20592 non-null  object
 1   호선      20592 non-null  int64
 2   역번호     20592 non-null  int64
 3   출발역     20592 non-null  object
 4   상하구분    20592 non-null  object
 5   시간대     20592 non-null  int64
 6   혼잡도     20074 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.1+ MB

In [183]:
import datetime
holiday = [
    "2024-01-01",
    "2024-02-09",
    "2024-02-10",
    "2024-02-11",
    "2024-02-12",
    "2024-03-01",
    "2024-05-05",
    "2024-05-06",
    "2024-06-06",
    "2024-08-15",
    "2024-09-16",
    "2024-09-17",
    "2024-09-18",
    "2024-10-03",
    "2024-10-09",
    "2024-12-25",
    "2023-01-01",
    "2023-01-21",
    "2023-01-22",
    "2023-01-23",
    "2023-01-24",
    "2023-03-01",
    "2023-05-05",
    "2023-05-27",
    "2023-05-29",
    "2023-06-06",
    "2023-08-15",
    "2023-09-28",
    "2023-09-29",
    "2023-09-30",
    "2023-10-02",
    "2023-10-03",
    "2023-10-09",
    "2023-12-25",
]

def get_weekday_name(date_str, date_format='%Y-%m-%d'):
    """
    날짜 문자열(date_str)을 입력받아 요일(한국어, 예: 월요일, 화요일, ...)을 반환합니다.
    date_format은 기본값 '%Y-%m-%d'를 사용합니다.
    """
    if date_str in holiday:
        return "일요일"
    days_kr = ['평일', '평일', '평일', '평일', '평일', '토요일', '일요일']
    date_obj = datetime.datetime.strptime(date_str, date_format)
    weekday = date_obj.weekday()  # 0=월요일, 6=일요일
    return days_kr[weekday]

In [ ]:
def get_previous_station_order(hosun: int, order_now: int,direction: str): 
    if hosun == 2:
        if direction == "오름차순":
            if order_now == 1:
                return 43
            else:
                return order_now - 1
        elif direction == "내림차순":
            if order_now == 43: 
                return 1
            else:
                return order_now + 1
    elif hosun == 3:
        if direction == "오름차순":
            if order_now == 1: 
                return None
            else:
                return order_now - 1
        elif direction == "내림차순":
            if order_now == 34:
                return None
            else:
                return order_now + 1

In [ ]:
station_2 = station[station["호선"] == 2]
station_3 = station[station["호선"] == 3]
def get_station_number(hosun: int, order: int): 
    if hosun == 2:
        return int(station_2[station_2["순서"] == order]["역번호"].values[0])
    elif hosun == 3:
        return int(station_3[station_3["순서"] == order]["역번호"].values[0])

202

In [219]:
def process_boarding_data(boarding_data, station_data, congest_data):
    # Station 데이터의 "순서", "환승역" 병합
    boarding_new = boarding_data.copy()
    boarding_new = pd.merge(
        boarding_new,
        station_data[["역번호", "순서", "환승역"]],
        on="역번호",
        how="left"
    )
    # 데이터 타입 변환, NULL 값 처리
    boarding_new = boarding_new.dropna()
    boarding_new["환승역"] = boarding_new["환승역"].astype(int)
    boarding_new["순서"] = boarding_new["순서"].astype(int)

    # 요일 구분 컬럼 생성
    boarding_new["요일구분"] = boarding_new["날짜"].apply(get_weekday_name)

    # 혼잡도 컬럼 생성
    boarding_new["오름혼잡도"] = None
    boarding_new["내림혼잡도"] = None

    congest_lookup = congest_data.set_index(["요일구분", "시간대", "역번호", "상하구분"]).sort_index()

    def get_congestion_value(row, direction):
        key = (row["요일구분"], row["시간대"], row["역번호"], direction)
        try:
            return congest_lookup.loc[key, "혼잡도"]
        except KeyError:
            return None
    
    boarding_new["오름혼잡도"] = boarding_new.apply(lambda row: get_congestion_value(row, "오름차순"), axis=1)
    boarding_new["내림혼잡도"] = boarding_new.apply(lambda row: get_congestion_value(row, "내림차순"), axis=1)

    # 전역의 혼잡도
    boarding_new["오름전역혼잡도"] = None
    boarding_new["내림전역혼잡도"] = None

    def get_previous_station_congestion_value(row, direction):
        previous_station_order = get_previous_station_order(row["호선"], row["순서"], direction)
        if previous_station_order is None:
            return None
        hosun = row["호선"]
        previous_station_number = get_station_number(hosun, previous_station_order)
        key = (row["요일구분"], row["시간대"], previous_station_number, direction)
        try:
            return congest_lookup.loc[key, "혼잡도"]
        except KeyError:
            return None

    boarding_new["오름전역혼잡도"] = boarding_new.apply(lambda row: get_previous_station_congestion_value(row, "오름차순"), axis=1)
    boarding_new["내림전역혼잡도"] = boarding_new.apply(lambda row: get_previous_station_congestion_value(row, "내림차순"), axis=1)

    # 전 역이 없는 경우 Drop
    boarding_new = boarding_new.dropna()
    
    return boarding_new

In [ ]:
boarding_2024_renew_2 = process_boarding_data(boarding_2024, station, congest_2024)
boarding_2024_renew_2.head()

In [218]:
boarding_2024_renew_2 = boarding_2024_renew_2.dropna()
boarding_2024_renew_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 541680 entries, 0 to 607539
Data columns (total 14 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   날짜       541680 non-null  object
 1   호선       541680 non-null  int64
 2   역번호      541680 non-null  int64
 3   역명       541680 non-null  object
 4   시간대      541680 non-null  int64
 5   승차       541680 non-null  int64
 6   하차       541680 non-null  int64
 7   순서       541680 non-null  int64
 8   환승역      541680 non-null  int64
 9   요일구분     541680 non-null  object
 10  오름혼잡도    541680 non-null  float64
 11  내림혼잡도    541680 non-null  float64
 12  오름전역혼잡도  541680 non-null  float64
 13  내림전역혼잡도  541680 non-null  float64
dtypes: float64(4), int64(7), object(3)
memory usage: 62.0+ MB

In [220]:
boarding_2023_renew_2 = process_boarding_data(boarding_2023, station, congest_2023)
boarding_2023_renew_2.head()

,날짜,호선,역번호,역명,시간대,승차,하차,순서,환승역,요일구분,오름혼잡도,내림혼잡도,오름전역혼잡도,내림전역혼잡도
0,2023-01-01,2,201,시청,600,43,126,43,1,일요일,10.4,6.0,11.4,6.2
1,2023-01-01,2,201,시청,530,43,36,43,1,일요일,15.1,5.3,16.3,4.8
2,2023-01-01,2,201,시청,700,43,144,43,1,일요일,9.7,6.4,11.9,6.6
3,2023-01-01,2,201,시청,800,138,245,43,1,일요일,17.2,17.5,19.0,18.0
4,2023-01-01,2,201,시청,900,140,283,43,1,일요일,21.2,14.9,24.3,16.1

In [221]:
boarding_2023_renew_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 535340 entries, 0 to 610178
Data columns (total 14 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   날짜       535340 non-null  object
 1   호선       535340 non-null  int64
 2   역번호      535340 non-null  int64
 3   역명       535340 non-null  object
 4   시간대      535340 non-null  int64
 5   승차       535340 non-null  int64
 6   하차       535340 non-null  int64
 7   순서       535340 non-null  int64
 8   환승역      535340 non-null  int64
 9   요일구분     535340 non-null  object
 10  오름혼잡도    535340 non-null  float64
 11  내림혼잡도    535340 non-null  float64
 12  오름전역혼잡도  535340 non-null  float64
 13  내림전역혼잡도  535340 non-null  float64
dtypes: float64(4), int64(7), object(3)
memory usage: 61.3+ MB

In [223]:
boarding_2024_renew_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 541680 entries, 0 to 607539
Data columns (total 14 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   날짜       541680 non-null  object
 1   호선       541680 non-null  int64
 2   역번호      541680 non-null  int64
 3   역명       541680 non-null  object
 4   시간대      541680 non-null  int64
 5   승차       541680 non-null  int64
 6   하차       541680 non-null  int64
 7   순서       541680 non-null  int64
 8   환승역      541680 non-null  int64
 9   요일구분     541680 non-null  object
 10  오름혼잡도    541680 non-null  float64
 11  내림혼잡도    541680 non-null  float64
 12  오름전역혼잡도  541680 non-null  float64
 13  내림전역혼잡도  541680 non-null  float64
dtypes: float64(4), int64(7), object(3)
memory usage: 62.0+ MB

In [222]:

# boarding_2024_renew_2, boarding_2023_renew_2를 각각 csv로 저장
boarding_2024_renew_2.to_csv("boarding_2024_final.csv", index=False)
boarding_2023_renew_2.to_csv("boarding_2023_final.csv", index=False)

In [225]:
# 두 DataFrame의 행이 순서대로 같다고 가정하고 단순히 컬럼을 좌우로 붙입니다.
merged_df = pd.concat([boarding_2024_renew_2.reset_index(drop=True), boarding_2023_renew_2.reset_index(drop=True)], axis=0)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1077020 entries, 0 to 535339
Data columns (total 14 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   날짜       1077020 non-null  object
 1   호선       1077020 non-null  int64
 2   역번호      1077020 non-null  int64
 3   역명       1077020 non-null  object
 4   시간대      1077020 non-null  int64
 5   승차       1077020 non-null  int64
 6   하차       1077020 non-null  int64
 7   순서       1077020 non-null  int64
 8   환승역      1077020 non-null  int64
 9   요일구분     1077020 non-null  object
 10  오름혼잡도    1077020 non-null  float64
 11  내림혼잡도    1077020 non-null  float64
 12  오름전역혼잡도  1077020 non-null  float64
 13  내림전역혼잡도  1077020 non-null  float64
dtypes: float64(4), int64(7), object(3)
memory usage: 123.3+ MB

In [228]:
merged_non_transfer = merged_df[merged_df['환승역'] == 0]
merged_non_transfer.info()
merged_non_transfer["환승역"].unique()

<class 'pandas.core.frame.DataFrame'>
Index: 565449 entries, 20 to 535339
Data columns (total 14 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   날짜       565449 non-null  object
 1   호선       565449 non-null  int64
 2   역번호      565449 non-null  int64
 3   역명       565449 non-null  object
 4   시간대      565449 non-null  int64
 5   승차       565449 non-null  int64
 6   하차       565449 non-null  int64
 7   순서       565449 non-null  int64
 8   환승역      565449 non-null  int64
 9   요일구분     565449 non-null  object
 10  오름혼잡도    565449 non-null  float64
 11  내림혼잡도    565449 non-null  float64
 12  오름전역혼잡도  565449 non-null  float64
 13  내림전역혼잡도  565449 non-null  float64
dtypes: float64(4), int64(7), object(3)
memory usage: 64.7+ MB

array([0])

In [232]:
merged_non_transfer.to_csv("merged_non_transfer_final.csv", index=False)

In [ ]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Ridge, Lasso
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import numpy as np

# 1. Feature/Target 지정
# 오름전역혼잡도, 승차, 하차, 시간대 -> X
# 오름혼잡도 -> y
features = ['오름전역혼잡도', '승차', '하차', '시간대']
target = '오름혼잡도'

X = merged_non_transfer[features].copy()
y = merged_non_transfer[target].copy()

# 2. 결측치 처리
X = X.fillna(X.median(numeric_only=True))
y = y.fillna(y.median())

# 3. 이상치(아웃라이어) 클리핑 (IQR 방식)
Q1 = X.quantile(0.25)
Q3 = X.quantile(0.75)
IQR = Q3 - Q1
X = np.clip(X, Q1-1.5*IQR, Q3+1.5*IQR)

# 4. 정규화/표준화: 수치형 데이터라 표준화가 일반적
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# 5. 데이터 분리
X_train, X_test, y_train, y_test = train_test_split(
    X_scaled, y, test_size=0.2, random_state=42
)

# 6. 모델 정의 및 하이퍼파라미터 튜닝 (예시: RandomForest, Ridge)
models = {
    'RandomForest': RandomForestRegressor(random_state=42),
    'Ridge': Ridge(random_state=42),
    'Lasso': Lasso(random_state=42)
}
params = {
    'RandomForest': {'n_estimators': [100, 200], 'max_depth': [None, 8, 16]},
    'Ridge': {'alpha': [0.01, 0.1, 1, 10]},
    'Lasso': {'alpha': [0.01, 0.1, 1, 10]}
}

search_results = {}
for name, model in models.items():
    grid = GridSearchCV(model, params[name], scoring='neg_mean_squared_error', cv=5, n_jobs=-1)
    grid.fit(X_train, y_train)
    best_model = grid.best_estimator_
    y_pred = best_model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    search_results[name] = {
        'Best Params': grid.best_params_,
        'MSE': mse,
        'MAE': mae,
        'R2': r2,
        'Model': best_model
    }
    print(f"{name}: Best Params={grid.best_params_} | MSE={mse:.3f} | MAE={mae:.3f} | R2={r2:.3f}")

# 성능 비교 결과 DataFrame화
import pandas as pd
pd.set_option('display.precision', 3)
performance_df = pd.DataFrame([
    {'Model': k, **{kk: v for kk, v in val.items() if kk != 'Model'}}
    for k, val in search_results.items()
])
print("\n모델별 성능 비교:")
display(performance_df)

# 실전 적용시 테스트셋 예측 결과/실측 plot, 잔차 분석, feature importance(가능한 경우) 등도 반드시 확인
import matplotlib.pyplot as plt

best_model_name = performance_df.sort_values("R2", ascending=False).iloc[0]["Model"]
final_model = search_results[best_model_name]["Model"]
y_final_pred = final_model.predict(X_test)

plt.figure(figsize=(7, 7))
plt.scatter(y_test, y_final_pred, alpha=0.6)
plt.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--')
plt.xlabel("실제 오름혼잡도")
plt.ylabel("예측 오름혼잡도")
plt.title(f"실제 vs 예측 오름혼잡도 ({best_model_name})")
plt.show()

# feature importance (RandomForest인 경우만)
if best_model_name == 'RandomForest':
    importances = final_model.feature_importances_
    indices = np.argsort(importances)[::-1]
    plt.bar([features[i] for i in indices], importances[indices])
    plt.title("Feature Importances (RandomForest)")
    plt.show()